In [1]:
import pandas as pd

# 数据划分区间(cut函数)

**pd.cut(x, bins, right=True, labels=None)**<br/>x：要划分区间的数据(必须是一维的)<br/>bins：区间边界值<br/>right：默认为True，表示划分区间时左开右闭，如果左闭右开则设置为False<br/>labels：默认为None,设置每个区间对应的显示label

In [2]:
tips = pd.read_csv('./data/tips.csv')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

**查看 total_bill 这一列的各种统计值**

**将 tips 数据按照 total_bill 列的值划分为 3 个区间：0-10、10-30、30-60**